*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sofia", sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #6E4360;
}

.logo{
    width: 20vw;
    height: 25vh;
}

.nav{
    display: flex;
    flex-direction: row;
    padding-right: 5em;
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 1.5em;
    align-self: center;
    cursor: pointer;
}

.feature-sec{
    background-color: #6E4360;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 0;

}

.feature-title{
    font-size: 50px;
    padding-left: 5em;
    cursor: pointer;
}

.feature-text{
    color: white;
    font-size: 30px;
    align-self: center;
    margin: 0em 3em 3em 3em;
    text-align: justify;
    text-justify: inter-word;
}

.feature-text a{
    margin-top: 4em;
    margin-left: 15em;
}

.more-btn{
    font-size: 25px;
    padding: 0.6em 3em;
    border-radius: 8px ;
    font-family: 'Times New Roman', Times, serif;
    background-color: #ECB390;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    text-decoration: none;
}

.feauture-img img{
    height: 60vh;
}

.header .nav a:hover{
    background-color: white;
    color: #6E4360;
    border-radius: 5px;
    padding: 1em;
}

.quote{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #DF7861; 
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    margin-top: 1em;

}
.grid-container h5{
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: #DF7861;
    margin-bottom: 10px;
}
.reciepe{
    padding: 15px 25px;
    box-sizing: border-box;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    border: 1.5px solid;
    padding: 10px;
    box-shadow: 5px 10px #6E4360;
}

.reciepe img{
    padding-left: 50px;
    width: 25vw;
    height: 45vh;
    border-radius: 50%;
}

.reciepe img:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.4s;
}

.footer{
    background-color: #6E4360;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.footer-icons{
    padding: 3em;
}

.footer-icons img {
    width: 4.5vw;
    height: 4.5vh;
    padding: 0 1.5em;
}

.footer-text{
    padding: 3em;
    font-size: 20px;
    font-weight: 500;
    color: white;
}